.prim-but {
  background-color: blue;
  color: white;
  padding: 4px;
  font-size: 14px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  text-align: center;
  padding: 5px;
  width: 150px;
  height: 40px;
}
.sec-but {
  background-color: red;
  color: white;
  padding: 4px;
  font-size: 14px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  padding: 5px;
  width: 150px;
  height: 40px;
}
.transp-but {
  border: none;
  background: transparent;
  cursor: pointer;
  margin: 10px;
  font-size: large;
  font-weight: bold;
}

.transparent-button {
  text-align: center;
  font-size: x-large;
}
