@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.prim-but {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: RGB(65, 173, 240);
  color: white;
  padding: 4px;
  font-size: 14px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  text-align: center;
  padding: 0px 20px 0px;
  width: auto;
  height: 6vh;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.sec-but {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  background-color: #fd3126bc;
  color: white;
  padding: 0px 20px 0px;
  font-size: 14px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  width: auto;
  height: 6vh;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.transp-but {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 3px;
  border: none;
  background: transparent;
  cursor: pointer;
  margin: 10px;
  font-size: large;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.transparent-button {
  text-align: center;
  font-size: x-large;
  display: flex;
  justify-content: center;
}

.button-icon {
  color: white;
  align-self: center;
  font-size: x-large;
}
