.score {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  color: white;
  background-color: rgba(47, 47, 254, 0.76);
  padding: 10px;
  border: 1px solid black;
  box-shadow: 0 0 10px black;
}

.scorebar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

h2 {
  margin: 0;
}
