.score {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  color: white;
  padding: 10px;
  font-weight:medium;
  line-height: 2px;
}

.score > p{
  color: rgb(65, 173, 240);
  font-weight: 300;
}

h2 {
  margin: 0;
}
