@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0%;
  padding: 0;
  height: 150%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.root {
  width: 100%;
  background-color: white(32, 32, 32, 0.968);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entirebox {
  display: flex;
  min-height: 700px;
  width: 70%;
  position: relative;
}

.sideone {
  background-color: rgba(0, 0, 0, 0.466);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 13vh;
  align-items: center;
  width: 50%;
}
/* 
.sidetwo {
  background-color: rgba(0, 0, 0, 0.438);
  display: flex;
  flex-direction: column;
  gap: 13vh;
  justify-content: center;
  align-items: center;
  width: 50%;
} */

.bodyBG{
  background-color: rgba(0, 0, 0, 0.733);
}

.bgOne {
  background-color: rgba(106, 106, 106, 0.363);
}

.midbar {
  display: flex;
  justify-content: center;
  gap: 10vh;
  flex-direction: column;
  align-items: center;
  width: none;
  height: none;
  margin: 0;
  z-index: 1001;
}


.dicecontrols {
  width: 100%;
  top: 60%;
  position: absolute;
}

.hardmode{
  background-color: grey;
}