.playerBox {
  text-align: center;
  width: 13vw;
  color: white;
  padding: 10px;
  font-size: large;
  line-height: 2px;
}

p{
  font-size:400%;
  color: RGB(206, 55, 47);
  font-weight: 400;
}

.dice-image {
  display: block;
  width: 85px;
  border: 1px solid black;
  border-radius: 10px;
}

.diceSpace {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  top: 18%;
  width: 100%;
  position: absolute;
}

.playerBox.active::before {
  content: "";
  color: red;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 0, 0, 0.61);
  border: 1px solid transparent;
  border-radius: 50%;
  top: 4px;
  left: -10px;
  position: absolute;
}

.playerBox {
  position: relative;
}
